# Conexão com o banco de dados MySQL
DB_URL=jdbc:mysql://localhost:3306/euduvido?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=euduvido
DB_PASSWORD=change_me

# Usado pelo docker-compose
DB_NAME=euduvido
MYSQL_ROOT_PASSWORD=change_me
