# Conexão com o banco de dados MySQL
DB_URL=jdbc:mysql://localhost:3306/euduvido?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=Mariaselia123

# Usado pelo docker-compose
DB_NAME=root
MYSQL_ROOT_PASSWORD=Mariaselia123
